<!--<div id="visual-pipe-container">-->

<!--&lt;!&ndash;  <div class="buttonGroup">&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button&#45;&#45;secondary" (click)="visualPipe.zoom(0)">Fit</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button&#45;&#45;secondary" (click)="visualPipe.zoom(0.5)"> 50%</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button&#45;&#45;secondary" (click)="visualPipe.zoom()"> 100%</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button&#45;&#45;secondary" (click)="visualPipe.zoom(2)"> 200%</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <app-visual-pipe #visualPipe [nodes]="nodes" [edges]="edges"></app-visual-pipe>&ndash;&gt;-->
  <app-visual-tree #visualPipe [nodes]="nodes" [edges]="edges"></app-visual-tree>
<!--</div>-->
